 <div class="modal" id ="overtime-modal" tabindex="-1">
	 <div class="modal-dialog">
		 <div class="modal-content">
			 <div class="modal-header">
				 <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
				 <h4 class="modal-title">【残業申請】</h4>
			 </div>
			 <div class="modal-body">
			 <table class = "table attendance-table table-striped table-bordered">
     <tr>
      <th>日付</th>
      <th>曜日</th>
      <th>終了予定時間</th>
      <th>翌日</th>
      <th>業務処理内容</th>
      <th>指示者確認印</th>
     </tr>
     <tr>
      <td id ="modal-date"></td>
      <td id ="modal-week"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
     </tr>
    </table>
			</div>
			
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
				<button type="button" class="btn btn-primary">ボタン</button>
			</div>
		</div>
	</div>
</div>