<% provide(:title,"勤怠編集ログ" ) %>

<div class="log">
  <h1>勤怠修正ログ（承認済）</h1>
  <input name="user_id_set" type="hidden" value="<%= @user.id %>" />
  <div>
  <input id="reset-btn" type="button" value="リセット" />
  </div>
  <div class="log-y">
   <li class="dropdown">
    <button class="log-year" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
      年<b class="caret"></b>
    </button>
    <span id="current_year"></span>
     <ul class="dropdown-menu">
    　<li class="log_year" id="2018">2018</li>
      <li class="log_year" id="2019">2019</li>
      <li class="log_year" id="2020">2020</li>
      <li class="log_year" id="2021">2021</li>
     </ul>
    </li>
   </div>
  <div class="log-m">
   <li class="dropdown">
    <button class="log-year" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
      月<b class="caret"></b>
    </button>
    <span id="current_month"></span>
    <ul class="dropdown-menu">
    　<li class="log_month" id="1">1</li>
      <li class="log_month" id="2">2</li>
      <li class="log_month" id="3">3</li>
      <li class="log_month" id="4">4</li>
      <li class="log_month" id="5">5</li>
      <li class="log_month" id="6">6</li>
      <li class="log_month" id="7">7</li>
      <li class="log_month" id="8">8</li>
      <li class="log_month" id="9">9</li>
      <li class="log_month" id="10">10</li>
      <li class="log_month" id="11">11</li>
      <li class="log_month" id="12">12</li>
    </ul>
   </li>
  </div>
  <!-- テーブル表示  -->
  <div id="log-at">
  </div>
  <center>
    <%= link_to "戻る", user_url(@user, params:{first_day: @first_day}),style:"width:200px", class: "btn btn-default" %>
  </center>
</div>

<script>
  $(document).ready(function() {
    // $(".attendance-info").empty();
  var user_id = $('input[name="user_id_set"]').val();
  // 現在日時
  var current = new Date();
  // 年
  var year = current.getFullYear();
  // 月 0（1月）～11（12月） 
  var month = current.getMonth() + 1;
  //ページの表示
  $('#current_year').text(year);
  $('#current_month').text(month);
  
  //情報の取得
  sendData(user_id,year,month);
  //年変更時の処理
  $('.log_year').on('click', function(){
     year =  $(this).attr("id");
     $('#current_year').text(year);
     sendData(user_id,year,month);
  }); 
  //月変更時の処理
  $('.log_month').on('click', function(){
     month =  $(this).attr("id");
     $('#current_month').text(month);
     sendData(user_id,year,month);
  });
  
   $('#reset-btn').on('click', function(){
     year = current.getFullYear();
     month = current.getMonth() + 1;
     sendData(user_id,year,month);
     $('#current_year').text(year);
     $('#current_month').text(month);
  });
});
  //ajaxにより、情報を取得
  let sendData = (user_id,year,month) => {
    $.get("<%= log_search_path %>",{id: user_id,year: year,month: month},
        function(data){});
    }
    
</script>